@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Open+Sans&display=swap');
/* 
font-family: 'Barlow', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
:root{
    /* color */
    --color__basic: #4173fc;
    --color__dark: #0048c8;
    --color__light: #82a1ff;
    --color__white: #f9f9f9;
    --color__black: #111111;
    --color__darkgray: #5a5a5a;
    --color__orange: #ff5e14;

    /* font size */
    --font-big: 72px;
    --font-large: 48px;
    --font-medium: 28px;
    --font-basic: 18px;
    --font-small: 16px;
    --font-micro: 14px;

   /* font weight */
   --font-bold: 700;
   --font-semi-bold: 500;
   --font-regular: 400;
}

/* Universal tags */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a{
    text-decoration: none;
    color: inherit;
}

ul{padding-left: 0;}

li{list-style: none;}

button{cursor: pointer;}

img{vertical-align: top;}

body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.inner{
    max-width: 1200px;
    margin: 0 auto;
}

/* button style */
.btn{
    display: inline-block;
    min-width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: 'Barlow', sans-serif;
    font-weight: var(--font-bold);
    cursor: pointer;
    background-color: transparent;
    color: var(--color__black);
    padding: 0 20px;
}
.btn.primary_btn{
    color: var(--color__white);
    background: var(--color__basic);
    box-shadow: 0 16px 32px -16px rgba(0, 72, 200, 0.6);
    transition: all 0.3s ease;
}
.btn.primary_btn:hover{
    background: var(--color__dark);
}

/* text_center */
.text_center{
    text-align: center;
}

/* header: navigation & main visual */
.header{
    width:100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
                url(../images/building02.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.navbar{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    z-index: 1;
    position:fixed;
    top:0;
    transition: all .3s; 
}
.navbar_container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}
.navbar .logo > a{
    display: block;
    height: 100%;
}
.navbar .logo > a > img{
    height: inherit;
}
.navbar .navbar_menu,
.navbar .navbar_links{
    display: flex;
    height: 100%;
    align-items: center;
}
.navbar .navbar_menu li,
.navbar .navbar_links li{
    padding: 8px 12px;
}
.navbar .navbar_menu li a{
    font-weight: var(--font-bold);
    color: var(--color__white);
    transition: all 0.3s;
}
.navbar .navbar_links li a{
    font-weight: var(--font-semi-bold);
    color: var(--color__white);
    transition: all 0.3s;
}
.navbar .navbar_menu li a:hover,
.navbar .navbar_links li a:hover{
    color: var(--color__orange);
}
/* navbar scroll down  -> background color 변경 */
.navbar.navbar_dark{
    background-color: var(--color__dark) ;
    border:none;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2) ;
}
/* navbar toggle */
.navbar .toggle{
    color: var(--color__white);
    font-size: 24px;
    cursor: pointer;
    transition: all .3s;
    display: none;
    position: absolute;
    right: 30px;
    top: 28px;
}
.navbar .toggle:hover,
.navbar .toggle.active{
    color: var(--color__orange);
}
.show_main{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
}
.visual_container{
    flex-grow: 1;    
}
.visual_container .main_message{
    width: 100%;
    font-size: var(--font-big);
    font-family: 'Barlow', sans-serif;
    text-transform: capitalize;
    color: var(--color__white);
    line-height: 1;
}
.visual_container .sub_message{
    margin: 15px 0 40px;
    color: var(--color__white);
}

/* main : content */
.main_content{
    width: 100%;
}
.section_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    padding: 100px 0;
    align-items: center;
}
.section_container .content_text{
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* content - 공통 */
.content_title{
    font-family: 'Barlow', sans-serif;
    font-size: var(--font-large);
    font-weight: var(--font-bold);
    color: inherit;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.content_bar{
    display: block;
    width: 65px;
    height: 5px;
    background-color: var(--color__basic);
    margin-bottom: 20px;
}
.content_sub_title{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-medium);
    font-weight: var(--font-bold);
    color: inherit;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.content_description{
    word-break: keep-all;
    margin-bottom: 20px;
    color: inherit;
}
/* content - 공통 */

.section_container .content_img{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 45px 0 0 80px;
    justify-content: flex-end;
}
.section_container .content_img .img_container{
    width: inherit;
    height: inherit;
    border: 5px solid var(--color__basic);
    display: flex;
    position: relative;
}
.section_container .content_img .img_container .img_content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: -45px;
    top: -45px;
    box-shadow: 12px 12px 32px rgba(32, 30, 30, 0.3);
}
.section_container .content_img .img_container .img_content > img{
    width: 100%;
    height: auto;
    margin-top: -50px;
}

/* banner */
.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(../images/building05.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.banner_container{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color__white);
}

/* service */
.content_img.content_left{
    padding: 45px 40px 0 40px;
    justify-content: flex-start;
}
.service_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.service_item{
    display: flex;
    align-items: baseline;
    padding-bottom:20px;
}
.service_item:nth-child(odd){
    padding-right: 18px;
}
.service_item .service_icon{
    font-size: 24px;
    color: var(--color__basic);
    padding-right: 10px;
}
.service_item .service_name{
    font-size: 20px;
    font-family:  'Open Sans', sans-serif;
    margin-bottom: 10px;
}
.service > .section_container > .content_img > .img_container> .img_content > img{
    width: auto;
    height: 100%;
    margin: 0 0 0 -300px;
}

/* projects */
.projects_container{
    padding: 80px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.projects_container > .btn{
    align-self: flex-end;
}
.projects_grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #5a5a5a;
}
.cell{
    display: block;
    min-height: 1px;
    padding: 240px 0 200px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.6s;
    position: relative;
    filter: brightness(60%);
}
.cell:hover{
    filter: brightness(100%);
}
.cell .cell_number{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: var(--font-bold);
    font-size: 9em;
    color: rgba(200, 200, 200, 0.7);
}
.cell span{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: var(--font-bold);
    font-size: var(--font-medium);
    color: var(--color__white);
    text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.7);
}
.cell01{
    grid-column: 1 / 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
                      url(../images/building04.jpg);
}
.cell02{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
                      url(../images/building09.jpg);
}
.cell03{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
                      url(../images/building10.jpg);
}
.cell04{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
                      url(../images/building08.jpg);
}
.cell05{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
                      url(../images/building17.jpg);
}
.cell06{
    grid-column: -1 / -3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
                      url(../images/building14.jpg);
}

/* news */
.news_container{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news_list_container{
    width: 100%;
}
.news_link{
    float: right;
    padding: 16px;
    font-weight: var(--font-bold);
    font-size: var(--font-small);
    transition: all .6s;
}
.news_link:hover{
    color:var(--color__orange);
}
.news_list{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news_item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom:20px;
}
.news_item > img{
    width: auto;
    height: 160px;
    margin-bottom:10px;
}
.news_item > .news_title{
    font-size: var(--font-basic);
    font-weight: var(--font-bold);
    color: var(--color__black);
    margin-bottom: 10px;
}
.news_item > .news_text{
    max-width:290px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    margin-bottom: 10px;
}

/* footer */
.footer{
    background-color: var(--color__black);
}
.footer .information{
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    color: var(--color__white);
}
.information .article .logo{
    font-size: var(--font-large);
}
.information .article .logo > img{
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
}
.information .article .sns{
    display: flex;
    align-items: center;
}
.information .article .sns > li{
    padding: 0 8px;
}
.information .article .sns > li > a{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: var(--color__darkgray);
    color: var(--color__white);
    transition: all .3s;
}
.information .article .sns > li > a:hover{
    background-color: var(--color__orange);
}
.information .article .footer_title{
    font-size: var(--font-medium);
    margin-bottom: 20px
}
.information .article .info_content{
    display: flex;
    flex-direction: column;
}
.information .article .info_content > img{
    width: auto;
    height: 180px;
    margin-bottom: 20px;
}
.information .article .info_content > strong{
    font-size: 20px;
    margin-bottom: 8px;
}
.information .article .info_content > span{
    margin-bottom: 20px;
    font-size: var(--font-basic);
    font-weight: var(--font-semi-bold);
}
.information .article .info_content > span > i{
    padding-right:8px;
}
.information .article .info_content > p{
    font-size: var(--font-basic);
    font-weight: var(--font-semi-bold);
    line-height: var(--font-medium);
}
.footer .copyright{
    width: 100%;
    border-top: 2px solid rgba(255,255,255,0.2);
    padding: 30px 0;
}
.copyright .copy_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color__white);
}
.copyright .copy_container .terms{
    display: flex;
}
.copyright .copy_container .terms .line{
    padding: 0 10px;
}

/* Media Query - 768px 이하*/
@media screen and (max-width : 768px) {
    /* header */
    .navbar{
        height: 90px;
    }
    .navbar .navbar_menu.active,
    .navbar .navbar_links.active{
        display: flex;
    }
    .navbar .navbar_menu{
        height: auto;
        width: 100%;
        padding: 20px 0;
        flex-direction: column;
        background-color: var(--color__dark);
        display: none;
    }
    .navbar .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar .navbar_menu li a{
        display: block;
        width: 100%;
        padding: 8px 0; 
    }
    .navbar .navbar_links{
        border-top:1px solid rgba(200, 200, 200, 0.2);
        padding: 20px 0;
        justify-content: center;
        background-color: var(--color__dark);
        display: none;
    }
    .navbar .toggle{
        display: block;
    }
    .navbar .logo{
        height: 100%;
        padding: 0 20px;
    }
    .navbar_container{
        flex-direction: column;
        background-color: var(--color__dark);
        justify-content: flex-start;
    }
    .visual_container{
        text-align: center;
    }
    .visual_container .main_message{
        width: 60%;
        margin: 0 auto;
        font-size: var(--font-large);
    }
    .visual_container .sub_message{
        margin: 15px auto 40px;
        text-align: center;
    }

    /* main */
    .section_container .content_text{
        padding-right: 0;
    }
    .content_title{
        font-size: var(--font-medium);
    }
    .content_sub_title{
        font-size: var(--font-basic);
    }
    .section_container{
        grid-template-columns: 1fr;
        padding: 100px 20px;
    }
    .section_container .content_img{
        display: none;
    }
    .section_container .content_img .img_container .img_content > img{
        display: inline-block;
        max-width: 100%;
        height: auto;
    }
    /* banner */
    .banner .content_title{
        text-align: center;
    }
    /* service */
    .service.section{
        padding-top: 100px;
    }
    .service_items{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .service_item{
        width: 100%;
        padding-right: 0;
    }

    /* projects */
    .projects_container{
        padding: 100px 20px;
        flex-direction: column;
    }
    .projects_container > .btn{
        align-self: flex-start;
    }
    .projects_grid{
        grid-template-columns: 1fr;
    }
    .cell01{grid-column: 1/-1;}
    .cell06{grid-column: 1/-1;}

    /* news */
    .news_container{
        padding: 100px 20px;
    }
    
    .news_item > img{
    width: 100%;
    height: auto;
    }
    
    /* footer */
    .footer .information{
        grid-template-columns: 1fr;
        padding: 100px 20px;
    }
    .information .article .info_content > img{
       display: none;
    }
    .copyright .copy_container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left:20px;
    }
    .copyright .copy_container .terms .line{
        padding: 0 ;
        opacity: 0;
    }
}