@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Open+Sans&display=swap');
/* 
font-family: 'Barlow', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
:root{
    /* color */
    --color__basic: #4173fc;
    --color__dark: #0048c8;
    --color__light: #82a1ff;
    --color__white: #f9f9f9;
    --color__black: #111111;
    --color__darkgray: #5a5a5a;
    --color__orange: #ff5e14;

    /* font size */
    --font-big: 72px;
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

   /* font weight */
   --font-bold: 700;
   --font-semi-bold: 500;
   --font-regular: 400;
}

/* Universal tags */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a{
    text-decoration: none;
    color: inherit;
}

ul{padding-left: 0;}

li{list-style: none;}

button{cursor: pointer;}

img{vertical-align: top;}

body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.inner{
    max-width: 1200px;
    background-color: burlywood;
    margin: 0 auto;
}

/* button style */
.btn{
    display: inline-block;
    min-width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: 'Barlow', sans-serif;
    font-weight: var(--font-bold);
    cursor: pointer;
    background-color: transparent;
    color: var(--color__black);
    padding: 0 20px;
}
.btn.primary_btn{
    color: var(--color__white);
    background: var(--color__basic);
    box-shadow: 0 16px 32px -16px rgba(0, 72, 200, 0.6);
    transition: all 0.3s ease;
}
.btn.primary_btn:hover{
    background: var(--color__dark);
}

/* text_center */
.text_center{
    text-align: center;
}

/* header: navigation & main visual */
.header{
    width:100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
                url(../images/building02.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.navbar{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    z-index: 1;
    position:sticky;
    top:0;
}
.navbar_container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}
.navbar .logo > a{
    display: block;
    height: 100%;
}
.navbar .logo > a > img{
    height: inherit;
}
.navbar .navbar_menu,
.navbar .navbar_links{
    display: flex;
    height: 100%;
    align-items: center;
}
.navbar .navbar_menu li,
.navbar .navbar_links li{
    padding: 8px 12px;
}
.navbar .navbar_menu li a{
    font-weight: var(--font-bold);
    color: var(--color__white);
    transition: all 0.3s;
}
.navbar .navbar_links li a{
    font-weight: var(--font-semi-bold);
    color: var(--color__white);
    transition: all 0.3s;
}
.navbar .navbar_menu li a:hover,
.navbar .navbar_links li a:hover{
    color: var(--color__orange);
}
.show_main{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
}
.visual_container .main_message{
    font-size: var(--font-big);
    font-family: 'Barlow', sans-serif;
    text-transform: capitalize;
    color: var(--color__white);
    margin-right: 50%;
    line-height: 1;
}
.visual_container .sub_message{
    margin: 15px 0 40px;
    color: var(--color__white);
}

/* main : content */
.main_content{
    width: 100%;
}
.section_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    padding: 100px 0;
    align-items: center;
}
.section_container .content_text{
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* content - 공통 */
.content_title{
    font-family: 'Barlow', sans-serif;
    font-size: var(--font-large);
    font-weight: var(--font-bold);
    color: inherit;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.content_bar{
    display: block;
    width: 65px;
    height: 5px;
    background-color: var(--color__basic);
    margin-bottom: 20px;
}
.content_sub_title{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-medium);
    font-weight: var(--font-bold);
    color: inherit;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.content_description{
    word-break: keep-all;
    color: inherit;
}
/* content - 공통 */

.section_container .content_img{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 45px 0 0 80px;
    justify-content: flex-end;
}
.section_container .content_img .img_container{
    width: inherit;
    height: inherit;
    border: 5px solid var(--color__basic);
    display: flex;
    position: relative;
}
.section_container .content_img .img_container .img_content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: -45px;
    top: -45px;
    box-shadow: 12px 12px 32px rgba(32, 30, 30, 0.3);
}
.section_container .content_img .img_container .img_content > img{
    width: 100%;
    height: auto;
    margin-top: -100px;
}

/* banner */
.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(../images/building05.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.banner_container{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color__white);
}
.banner_container > .content_description{
    margin-bottom: 20px;
}
